<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Update Bank Account page</title>

    <!-- ========== COMMON STYLES ========== -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" >
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'css/animate-css/animate.min.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'css/lobipanel/lobipanel.min.css'%}" media="screen">

    <!-- ========== PAGE STYLES ========== -->
    <link rel="stylesheet" href="{% static 'css/prism/prism.css'%}" media="screen"> <!-- USED FOR DEMO HELP - YOU CAN REMOVE IT -->
    <link rel="stylesheet" href="{% static 'css/toastr/toastr.min.css'%}" media="screen">
    <link rel="stylesheet" href="{% static 'css/icheck/skins/line/blue.css'%}">
    <link rel="stylesheet" href="{% static 'css/icheck/skins/line/red.css'%}">
    <link rel="stylesheet" href="{% static 'css/icheck/skins/line/green.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-tour/bootstrap-tour.css'%}">

    <!-- ========== THEME CSS ========== -->
    <link rel="stylesheet" href="{% static 'css/main.css'%}" media="screen">

    <!-- ========== MODERNIZR ========== -->
    <script src="{% static 'js/modernizr/modernizr.min.js'%}"></script>
</head>

<body class="top-navbar-fixed">
    <div class="main-wrapper">

        <!-- ========== TOP NAVBAR ========== -->
        <nav class="navbar top-navbar bg-white box-shadow">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header no-padding">
                        <a class="navbar-brand" href="/index">
                            <img src="images/del" alt="Jahid - Admin" class="logo">
                        </a>
                        <span class="small-nav-handle hidden-sm hidden-xs"><i class="fa fa-outdent"></i></span>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-1" aria-expanded="false">

                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <button type="button" class="navbar-toggle mobile-nav-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <!-- /.navbar-header -->

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                            <li class="hidden-sm hidden-xs"><a href="#" class="user-info-handle"><i
                                        class="fa fa-user"></i></a></li>
                            <li class="hidden-sm hidden-xs"><a href="#" class="full-screen-handle"><i
                                        class="fa fa-arrows-alt"></i></a></li>
                            
                            <li class="hidden-xs hidden-xs">
                                <!-- <a href="#">My Tasks</a> -->
                            </li>
                            
                        </ul>
         
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- ========== WRAPPER FOR BOTH SIDEBARS & MAIN CONTENT ========== -->
        <div class="content-wrapper">
            <div class="content-container">

                <!-- ========== LEFT SIDEBAR ========== -->
                <div class="left-sidebar fixed-sidebar bg-navy-700 box-shadow tour-three">
                    <div class="sidebar-content">
                        <div class="user-info closed">
                            <img src="http://placehold.it/90/c2c2c2?text=User" alt="Jahid"
                                class="img-circle profile-img">
                            <h6 class="title">Jahid</h6>
                            <small class="info">Full Stack Developer <a href="/adminlogin" class="color-danger text-center"><i class="fa fa-sign-out"></i>
                                            Logout</a></small>
                        </div>
                        <!-- /.user-info -->

                        <div class="sidebar-nav">
                            <ul class="side-nav color-gray">
                                <li class="nav-header">
                                    <span class="">Main Category</span>
                                </li>
                                <li>
                                    <a href="/index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                                </li>
                                <li class="has-children">
                                    <a href=""><i class="fa fa-users"></i> <span>Staff</span> <i
                                            class="fa fa-angle-right arrow"></i></a>
                                    <ul class="child-nav">
                                        <li><a href="/manageuser"><i class="fa fa-user"></i> <span>User</span></a>
                                        </li>
                                       
                                    </ul>
                                </li>
                                <li>
                                    <a href="/manageproduct&service"><i class="fa fa-shopping-cart"></i>
                                        <span>Product & Service</span></a>
                                </li>
                                <li>
                                    <a href="/managecustomer"><i class="fa fa-user"></i> <span>Customer</span></a>
                                </li>
                                <li>
                                    <a href="/managevendor"><i class="fa fa-file"></i> <span>Vendor</span></a>

                                </li>
                                
                                <li class="has-children">
                                    <a href="#"><i class="fa fa-university"></i> <span>Banking</span> <i
                                            class="fa fa-angle-right arrow"></i></a>
                                    <ul class="child-nav">
                                        <li><a href="/managebankaccount"><i class="fa fa-user"></i>
                                                <span>Account</span></a></li>
                                        <li><a href="/managebanktransfer"><i class="fa fa-exchange"></i>
                                                <span>Transfer</span></a></li>
                                    </ul>
                                </li>

                                <li class="has-children">
                                    <a href="#"><i class="fa fa-money"></i> <span>Income</span> <i
                                            class="fa fa-angle-right arrow"></i></a>
                                    <ul class="child-nav">
                                        <li><a href="/manageinvoice"><i class="fa fa-barcode"></i>
                                                <span>Invoice</span></a></li>
                                        <li><a href="/managerevenue"><i class="fa fa-line-chart"></i>
                                                <span>Revenue</span></a></li>
                                        <li><a href="/managecreditnotes"><i class="fa fa-clipboard"></i>
                                                <span>Credit Note</span></a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="has-children">
                                    <a href="#"><i class="fa fa-money"></i> <span>Expense</span> <i
                                            class="fa fa-angle-right arrow"></i></a>
                                    <ul class="child-nav">
                                        <li><a href="/managebill"><i class="fa fa-barcode"></i> <span>Bill</span></a></li>
                                        <li><a href="/managepayment"><i class="fa fa-line-chart"></i><span>Payment</span></a></li>
                                        <li><a href="/managedebitnotes"> <i class="fa fa-clipboard"></i><span>Debit Note</span></a></li>

                                    </ul>
                                </li>



                            </ul>
                            <!-- /.side-nav -->
                        </div>
                        <!-- /.sidebar-nav -->
                    </div>
                    <!-- /.sidebar-content -->
                </div>
                <!-- /.left-sidebar -->

                <div class="main-page">
                    <div class="container-fluid">
                        <div class="row page-title-div">
                            <div class="col-md-6">
                                <h2 class="title">Update New Account</h2>
                            </div>
                            <!-- /.col-md-6 -->
                            <!-- /.col-md-6 text-right -->
                        </div>
                        <!-- /.row -->
                        <div class="row breadcrumb-div">
                            <div class="col-md-6">
                                <ul class="breadcrumb">
                                    <li><a href="/index"><i class="fa fa-home"></i> Home</a></li>
                                    <li><a href="/managebankaccount"><i class="fa fa-arrow-right"></i> Manage Bank
                                            Account</a></li>
                                    <li class="active">Update Bank Account</li>
                                </ul>
                            </div>
                            <!-- /.col-md-6 -->
                            <!-- /.col-md-6 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->

                    <section class="section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <h5>Update Account</h5>
                                            </div>
                                        </div>
                                        <div class="panel-body">

                                            <form class="p-20" id="two-column" method="POST" action="/updatebankaccount/{{managebankaccount2.id}}">
                                            {% csrf_token %}


                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Bank Holder Name <sup
                                                                    class="color-danger">*</sup></label>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i
                                                                        class="fa fa-pencil color-primary"></i></span>
                                                                <input type="text" class="form-control" name="bankusername"
                                                                    placeholder="Enter Your Full Name" value="{{ managebankaccount2.bankusername }}"
                                                                    required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.col-md-6 -->

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Bank Name <sup
                                                                    class="color-danger">*</sup></label>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i
                                                                        class="fa fa-bank color-primary"></i></span>
                                                                <input type="text" class="form-control" name="bankname" value="{{ managebankaccount2.bankname }}"
                                                                    placeholder="Enter Bank Name"
                                                                   required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.col-md-6 -->
                                                </div>


                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Account Number<sup
                                                                    class="color-danger">*</sup></label>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i
                                                                        class="fa fa-money color-primary"></i></span>
                                                                <input type="text" class="form-control" name="accountnumber" value="{{ managebankaccount2.accountnumber }}"
                                                                    placeholder="Enter Account Number"
                                                                    required>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- /.col-md-6 -->

                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label> Opening Balance<sup
                                                                    class="color-danger">*</sup></label>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i
                                                                        class="fa fa-rupee color-primary"></i></span>
                                                                <input type="number" class="form-control"
                                                                    name="openingbalance" placeholder="Enter Balance"  value="{{ managebankaccount2.openingbalance }}"
                                                                    minlength="20" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.col-md-6 -->
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Contact <sup
                                                                    class="color-danger">*</sup></label>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i
                                                                        class="fa fa-user color-primary"></i></span>
                                                                <input type="number" class="form-control" name="bankcontact" value="{{ managebankaccount2.bankcontact }}"
                                                                    placeholder="Enter number"
                                                                    minlength="10" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.col-md-6 -->
                                                    <!-- /.col-md-6 -->
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label">Bank
                                                            Address</label>
                                                        <div class="col-sm-12">
                                                            <input type="textarea" class="form-control" name="bankaddress" value="{{ managebankaccount2.bankaddress }}"
                                                                rows="6" required>
                                                        </div>
                                                    </div>
                                                </div><br>


                                                <div class="row">
                                                    <!-- /.col-md-12 -->

                                                    <div class="col-md-9">
                                                        <button type="submit" class="btn btn-primary">Update</button>
                                                        <button type="reset" class="btn btn-secondary">Cancel</button>

                                                        <!-- /.btn-group -->
                                                    </div>
                                                    <!-- /.col-md-12 -->
                                                </div>

                                            </form>

                                            
                                            <!-- /.col-md-12 -->
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-md-12 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container-fluid -->
                    </section>
                    <!-- /.section -->

                </div>
            </div>
            <!-- /.content-container -->
        </div>
        <!-- /.content-wrapper -->



    </div>
    <!-- /.main-wrapper -->

    <!-- ========== COMMON JS FILES ========== -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js'%}"></script>
    <script src="{% static 'js/jquery-ui/jquery-ui.min.js'%}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/pace/pace.min.js'%}"></script>
    <script src="{% static 'js/lobipanel/lobipanel.min.js'%}"></script>
    <script src="{% static 'js/iscroll/iscroll.js'%}"></script>

    <!-- ========== PAGE JS FILES ========== -->
     <script src="{% static 'js/prism/prism.js'%}"></script>
    

    <!-- ========== THEME JS ========== -->
    <script src="{% static 'js/main.js'%}"></script>
    <script>
        $(function ($) {
            $.validate({
                form: '#two-column',
                modules: 'security'
            });
        });
    </script>

    <!-- ========== ADD custom.js FILE BELOW WITH YOUR CHANGES ========== -->
</body>

<!-- Mirrored from Worksbot-admin.themesease.com/sidebar-navy.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Feb 2021 14:45:48 GMT -->

</html>